gitfooter{
    background-color: #524A3A;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
    
}
h1{
font-family: 'Dancing Script', cursive;
text-align: center;
color: black;
font-size: 6em;
margin-top: 70px;

}

form{
    margin:0 auto ;
max-width: 900px;

}
input, textarea, button {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family:'Advent pro',sans-serif ;
    border-radius: 8px;
}
textarea{
    height: 120px;
}
button{
font-size: 1.5em;
background-color: burlywood;
}
button:hover{
 background-color: greenyellow;
 color: #FFFAE1;
cursor: pointer;
transition: 0.3S ease-in-out;

}

